/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/luxarybook.theme.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: 'primary font';
    src: url(/_next/static/media/pertili.72ec945f.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'primary font light2';
    src: url(/_next/static/media/perpetuatitlingmt-light2.2a47f93d.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'primary font bold';
    src: url(/_next/static/media/perti-bold.e7af7b91.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gayathri font';
    src: url(/_next/static/media/Gayathri-Regular.e8bbf271.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gayathri font bold';
    src: url(/_next/static/media/Gayathri-Bold.6192029a.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gayathri font thin';
    src: url(/_next/static/media/Gayathri-Thin.f6ffe7b4.woff) format('woff');
    font-display: swap;
}
:root {
    --brand-font-family: 'Perpetua Titling MT';

    --brand-font-weight-light: 300;
    --brand-font-weight-roman: 400;
    --brand-font-weight-medium: 500;
    --brand-font-weight-dark: 600;
    --brand-font-weight-medium-dark: 700;
    --brand-font-weight-heavy: 800;
    --brand-font-weight-black: 900;

    --brand-button-small-height: 30px;
    --brand-button-small-size: 12px;
    --brand-button-medium-height: 40px;
    --brand-button-medium-size: 14px;
    --brand-button-large-height: 50px;
    --brand-button-large-size: 16px;
    --brand-button-extra-large-height: 60px;
    --brand-button-extra-large-size: 20px;

    --brand-mobile-max-width: 767px;

    --brand-primary-white-color: rgba(255, 255, 255, 1);
    --brand-navbar-background-color: rgba(34, 33, 36, 1);
    --book-title-color: rgba(34, 33, 36, 1);
    --book-subtitle-color: rgba(45, 45, 45, 1);
    --book-subtitle-color-60: rgba(45, 45, 45, 0.6);
    --brand-yellow-color: rgba(251, 234, 85, 1);
    --brand-contactus-bg-color: rgba(255, 251, 251, 1);
    --black-color: rgba(0, 0, 0, 1);


    
}
